body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.login-section {
    background-color: rgb(51, 51, 51);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.login-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: whitesmoke;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: whitesmoke;
}
.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}
.btn {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: #0a5bb3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.btn:hover {
    background-color: #0056b3;
}
.login-section p {
    margin-top: 20px;
    font-size: 14px;
    color: whitesmoke;
}
.login-section a {
    color: #007BFF;
    text-decoration: none;
}
.login-section a:hover {
    text-decoration: underline;
}
